doctype html
html(lang="en")
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/railscasts.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js")
    style.
      body { margin: 70px auto; }
      nav.navbar.navbar-dark { background-color: #27ae60; }
      div.toc-col { padding-left: 0 !important; }
      div.content-col { padding-right: 0 !important; }
      div.content-col h4 { padding-top: 15px; }
      pre code.hljs { border-radius: .3rem; }
      pre code.hljs.bash:before { content: "$ "; }
    script.
      hljs.initHighlightingOnLoad()
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74731450-1', 'auto');
      ga('send', 'pageview');
  body(style={ 'margin-top': '70px' })
    .container
      nav.navbar.navbar-full.navbar-fixed-top.navbar-dark
        .container
          a.navbar-brand(href="/" title="Node by Example") Node by Example
          ul.nav.navbar-nav.pull-md-right
            li.nav-item
              a.nav-link(href="https://github.com/joshmanders/node-by-example", title="Node by Example on GitHub") #[span.fa.fa-github.fa-lg]
            li.nav-item
              a.nav-link(href="https://twitter.com/nodebyexample", title="Node by Example on Twitter") #[span.fa.fa-twitter.fa-lg]
      .container
        .row
          .col-md-3.toc-col
            | !{toc}
          .col-md-9.content-col
            | !{markdown}
      
    nav.navbar-fixed-bottom.navbar-light.bg-faded(style={ 'padding-top': '20px' })
      p.text-md-center.text-muted
        | #[strong Last Modified] #[a(href="https://github.com/joshmanders/node-by-example/blob/master/src/#{filename}.md") #{modified}]
